.header__container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header__mobile {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
  padding: 4px 24px;
  background: #fff;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 35px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 17px;
  width: 260px;
  color: #444444;
  background: #eef3f8;
  margin: 0 0.5em;
  margin-right: 5em;
  transition: all 0.2s;
}

.header__search:focus-within {
  width: 350px;
  margin-right: -0.6em;
}

.header__search > input:focus-within {
  padding-left: 20px;
  width: 100%;
}

.header__search > input {
  line-height: 1.75;
  outline: none;
  border: none;
  background: none;
  padding-left: 5px;
  color: #3f3f3f;
  font-size: 0.9rem;
  transition: all 0.2s;
}

.header__searchIcon {
  width: 20px !important;
  color: #303030;
}

.header__right {
  display: flex;
}

.signout {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: white;
  color: #3a3a3a;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: 100px;
  top: 50px;
}

.signout > h5 {
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
}

.signout > h5:hover {
  background-color: #e6e6e6;
}

.signout__menu {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
}

@media (max-width: 1000px) {
  .header__right {
    display: flex;
  }
  .header__search {
    display: none;
  }

  .header__container {
    position: fixed;
    height: fit-content;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    top: unset;
  }

  .header {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px 0px;
  }

  .header__mobile {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    height: 40px !important;
    color: #3a3a3a;
    cursor: pointer;
    z-index: 100;
  }

  .header__mobile-menu {
  }

  .search__mobile {
    margin: 0;
    height: 40px;
    font-size: 1rem;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #858585;
    position: fixed;
    bottom: 50px;
    width: 70%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    outline: none;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.15);
  }

  .menu__item {
    margin: 10px;
  }

  .mobileHamburger {
    color: #666666;
    width: 30px !important;
    height: 25px !important;
    margin-left: 7px;
  }

  .mobileHamburger:hover {
    color: #191919;
  }

  .signout {
    top: unset;
    bottom: 50px;
    display: flex;
  }
}
