.inputOption {
  display: flex;
  align-items: center;
  /* width: 70px; */
  height: 48px;
  margin: 4px 0px;
  padding: 0px 5px;
  border-radius: 5px;
  transition: all 0.2s;
}

.inputOption > h5 {
  color: #707070;

  padding: 0px 6px;
}

.inputOption:hover {
  background: #f0f0f0;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .inputOption {
    height: 30px;
  }

  .inputOption > h5 {
    font-size: 0.7rem;
  }

  .inputIcon {
    height: 22px !important;
  }
}

@media (max-width: 300px) {
  .inputOption > h5 {
    display: none;
  }
  .inputIcon {
    height: 25px !important;
  }
}
