.sidebar {
  flex: 0.2;
  position: sticky;
  top: 60px;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  margin-top: 0.5em;
  min-width: 200px;
  height: 100%;
}

.sidebar__pfp {
  margin-bottom: 10px;
}

.sidebar__top {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 1em;
}

.sidebar__top > img {
  object-fit: cover;
  margin-bottom: -35px;
  width: 100%;
  height: 60px;
  border-radius: 10px 10px 0px 0px;
}

.sidebar__pfp {
  width: 70px !important;
  height: 70px !important;
  box-shadow: 0 0 0 2px white;
}

.sidebar__aboutme {
  font-size: 0.8rem;
  color: #666666;
  padding: 0em 1em;
}

.sidebar__stats {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0em;
  border: 1px solid lightgray;
  border-top: 0;
}

.sidebar__stat {
  padding: 0.2em 0.8em;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.sidebar__stat:hover {
  cursor: pointer;
  background: #e4e4e3;
}

.sidebar__stat p:nth-child(1) {
  font-weight: 600;
  font-size: 0.7rem;
  color: #666666;
}

.sidebar__statNumber {
  color: #0a66c2;
  font-weight: 600;
  font-size: 0.8rem;
}

.sidebar__premium {
  background: #fff;

  border: 1px solid lightgray;
  border-top: 0;
  font-size: 0.8rem;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__premium > p > img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.sidebar__premium > p:nth-child(1) {
  color: #666666;
}

.sidebar__premium > p:nth-child(2) {
  margin: 0.2em 0;
  font-weight: 600;
  color: #303030;
  display: flex;
  align-items: center;
}

.sidebar__premium:hover {
  cursor: pointer;
  background: #e4e4e3;
}

.sidebar__itemsbutton {
  background: #fff;

  border: 1px solid lightgray;
  border-top: 0;
  display: flex;
  padding: 1em 0.8em;
  font-size: 0.8rem;
  color: #5e5e5e;
  font-weight: 600;
  align-items: flex-start;
  border-radius: 0px 0px 10px 10px;
}

.sidebar__itemsbutton > p {
  color: #303030;
}

.sidebar__itemsbutton:hover {
  cursor: pointer;
  background: #e4e4e3;
}

.sidebar__itemsIcon {
  width: 20px !important;
  height: 20px !important;
}

/* SIDEBAR BOTTOM STYLING (RECENTS) */
/* SIDEBAR BOTTOM STYLING (RECENTS) */
/* SIDEBAR BOTTOM STYLING (RECENTS) */
/* SIDEBAR BOTTOM STYLING (RECENTS) */

.sidebar__bottom {
  background: #fff;
  text-align: left;
  font-size: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.sidebar__recent > p {
  margin-top: 0.7em;
  padding: 0.5em 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar__recent > p > span {
  color: #747474;
  align-items: center;
  text-align: center;
  display: flex;
}

.sidebar__recent > p > span:hover {
  background: #dddddd;
  cursor: pointer;
  border-radius: 50%;
  color: #525252;
}

.sidebar__recentItem {
  padding: 0em 1em;
  color: #797979;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.sidebar__recentItem:hover {
  cursor: pointer;
  background: #e4e4e3;
  color: #2b2b2b;
}

.sidebar__hash {
  font-size: 1.2rem;
  color: #3d3d3d;
  margin-right: 5px;
}

.sidebar__groups {
  width: 100%;
}

.sidebar__groups > p {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #0a66c2;
  margin-top: 0.7em;
  padding: 0em 1em;
  padding-top: 0.5em;
  font-weight: 600;
  text-align: center;
}

.sidebar__groups > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar__groups > p > span {
  color: #747474;
  align-items: center;
  text-align: center;
  display: flex;
}

.sidebar__groups > p > span:hover {
  background: #dddddd;
  cursor: pointer;
  border-radius: 50%;
  color: #525252;
}

.sidebar__group {
  padding: 0.25em 1em;
  color: #797979;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
}

.sidebar__group > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__group:hover {
  cursor: pointer;
  background: #e4e4e3;
  color: #2b2b2b;
}

.sidebar__groupIcon {
  width: 17px !important;
  height: 17px !important;
  margin-right: 5px;
  color: #3d3d3d;
}

.sidebar__discover {
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding: 12px;
  color: #7e7e7e;
  font-weight: 500;
  font-size: 0.9rem;
}

.sidebar__discover:hover {
  cursor: pointer;
  background: #e4e4e3;
}
