.app__body {
  display: flex;
  width: 65%;
  max-width: 1180px;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1600px) {
  .app__body {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .app {
    margin: 0;
    padding: 0;
  }

  html {
    margin: 0;
    padding: 0;
  }

  .app__body {
    flex-direction: column;
    width: 95%;
    min-width: 313px;
    max-width: 580px;
    margin-bottom: 50px;
  }
}

@media (max-width: 300px) {
  .app__body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-left: 25px;
    margin-bottom: 50px;
  }
}
