.app__body {
  display: flex;
  width: 60%;
  max-width: 1180px;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .app__body {
    flex-direction: column;
    width: 95%;
    min-width: 330px;
    max-width: 580px;
  }
}
